# !STARTERCONF Duplicate this to .env.local

# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mysql://root@localhost:3306/coinspotterdev"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Auth0 Login Provider
# https://next-auth.js.org/providers/auth0

CS_AUTH0_CLIENT_ID=""
CS_AUTH0_CLIENT_SECRET=""
CS_AUTH0_ISSUER=""
CS_AUTH0_AUDIENCE=""

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"

# Private key for GMaps
CS_GMAPS_API_KEY="";

# WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECTID="";
NEXT_PUBLIC_ENABLE_TESTNETS="true";

# Alchemy
CS_ALCHEMY_APIKEY="";